<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>be.sigsegv.osx.dnsupdater</string>
    <key>Program</key>
    <string>/Users/kristof/proj/osx/dyndns/dnsupdater.py</string>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/</string>
    </dict>
</dict>
</plist>
